@import url(./define.css);

body{
    background-color: cadetblue;
    font-family: "Smiley Sans";
}
header{
    letter-spacing: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    border: 3px solid rgb(255, 0, 111)
}