@import url(./define.css);
body {
    background-color: cadetblue;
    font-family: "Smiley Sans";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    width: 100%;
    letter-spacing: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#header-text {
    width: 100%;
    font-size: 30px;
}

#picture-go-by {
    width: 100%;
    padding-top: 20px;
    color: yellow;
    border: 5px solid brown;
    background-color: black;
    display: inline-flex;
    flex-direction: row;
    flex-basis: 4px;
}

#picture-go-by * {
    display: inline-block;
}

img {
    border: 3px solid rgb(255, 0, 111)
}

.marble {
    position: fixed;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgb(26, 129, 15);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

footer a {
    width: 100%;
    height: 25px;
    text-align: center;
    background-color: azure;
    border-radius: 20px;
    text-align: center;
}