@import url(./define.css);

body{
    background-color: cadetblue;
    font-family: "Smiley Sans";
}
header{
    letter-spacing: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#header-text{
    font-size: 30px;
}

#picture-go-by{
    padding-top: 20px;
    color: yellow;
    border: 5px solid brown;
    background-color: black;
}
#picture-go-by *{
    margin: 2px 2px;
}


img{
    border: 3px solid rgb(255, 0, 111)
}

.marble{
    position: fixed;
}

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}